[Unit]
Description=Kropotkin unit service

[Service]
ExecStart=/opt/bots/kropo/index.ts
Restart=always
User=kropo
Group=kropo
Environment=PATH=/opt/bots/kropo/.nvm/versions/node/v22.0.0/bin:/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/bots/kropo

[Install]
WantedBy=multi-user.target
